#matrix{
    width: 80%;
    margin: auto;
    text-align: center;
}
.cell{
    width: 50px;
    height: 50px;
    border: 1px solid red;
    background-color: white;
    padding: 2px;
    margin: 2px;
    display:flex;
    justify-content: center;
    align-items: center;
}

.line{
    display: flex;
    justify-content: center;
}